body {
    background-color: darkgray;
    font-family: Arial;
}

h1 {
    text-align: center;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    width: 200px;
    display: inline-block;
    text-align: center;
    background-color: white;
}

.card img {
    width: 120px;
    height: 160px;
    object-fit: cover;
}
